<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/posts.css"></link>
  <link rel="stylesheet" href="css/navbar.css"></link>
  <link rel="stylesheet" href="css/footer.css">
  <title>Posts!</title>
</head>
<body>
  <%- include('./partials/navbar') -%>
  <div class="posts-container">
    <div class="header">
      <h1 class="header-h1">Posts</h1>
      <div class="add">
        <a href="/create">+</a>
      </div>
    </div>
    <hr>
  <% posts?.reverse().forEach(post => { %>
    <div class="post">
      <h1 class="title"><%= post.main.title %></h1>
      <h4 clas="date"><%= post.date %></h4>
      <h3 class="desc"><%= post.main.desc %></h3>
      <a class="readme-link" href="/posts/<%= post.id %>"><button class="readme-btn">Read More</button></a>
      <button class="delete-btn">DELETE</button>
    </div>
    <hr>
    <div class="modal hidden">
      <form action="/posts?_method=DELETE" method="POST" class="delete">
        <label for="creatorPass" style="color: white; margin-bottom: 10px; font-size: 16pt; font-weight: bolder;">Password:</label>
        <input type="password" name="creatorPass" class="delete-password" style="display: block; border-top-left-radius: 10px; border-top-right-radius: 10px; padding: 10px; height: 40px; width: 100%;">
        <input type="hidden" name="uuid" value="<%= post.uuid %>" style="display: none;">
        <button style="display: inline; color: white; border: none; width: 100%; height: 40px; color: white; background: #2978e0; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;" type="submit">Submit</button>
      </form>
    </div>
    <% }) %>
    <div class="overlay hidden"></div>
  </div>
  <script src="js/script.js"></script>
</body>
</html>